.home-container {
  margin: 0px;
  height: 50%;
}

.welcome-banner {
  width: 100%;
height: fit content;
flex-shrink: 0;
background: url('../Assets/Group\ 21.png') center center no-repeat;
background-size: cover;
display: flex;
box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
}

.flex-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: left;
  width: 100%;
  height: fit-content;
}

.sasc-title {
  width: 512px;
  height: 243px;
  margin:  100px 20px;
flex-shrink: 0;
background: url('../Assets/SASCfullTitle.png');
background-repeat: no-repeat;
background-position: center center;


}

.welcome-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section p {
  margin: 0 10%;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.photo-container {
  width: 1600px;
}

.photo-carousel {
  margin: 0 auto;
}

.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 20px 0;
}