body {
  width: 1920px;
  height: 960px;
  margin: 0;
  padding: 0;
}


.App {
  display: flex;
  width: 1920px;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.Sidebar {
  width: 300px;
  height: 100%;
  background-color: #57B5C8;
}


.SidebarList {
  width: 319px;
  height: 50%;
  flex-shrink: 0;
    padding: 0;
    background: #57B5C8;
}

.SidebarList .row {
  height: 60px;
  width: 319px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none; /* Add this to remove default link styles */
}

.SidebarList .row a { /* Style the Link component directly */
  height: 60px;
  width: 319px;

  color: whitesmoke; /* Override default link color */
  text-decoration: none; /* Remove underline from links */
  display: flex;
  align-items: center;
justify-content: center;
flex-shrink: 0;
font-family: 'Russo One', sans-serif;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.SidebarList .row:hover {
  background-color: #3F8EA5;
  cursor: pointer;
}

.SidebarList .row a.active {
  background-color: #3F8EA5;

}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
padding: 0 30px;}

.row #title {
  flex: 70%;
}

.content {
  flex-grow: 1; /* takes remaining space */
  width: 1505px;
  height: 967px; /* adjust to full height of parent */
  background-color: lightblue;
  margin: 0 auto;
}

