body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
}


.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.Sidebar {
  width: 300px;
  min-height: 100%;
  background-color: #01B0F1;

  position: fixed;
  top: 0; /* Adjust this value as needed, depending on your header height or desired spacing from the top */
  overflow-y: hidden; /* To make the content scrollable if it exceeds the viewport height */
}



.SidebarList {
  height: 50%;
  flex-shrink: 0;
    padding: 0;
    background: #01B0F1;
}

.SidebarList .row {
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-decoration: none; /* Add this to remove default link styles */
}

.SidebarList .row a { /* Style the Link component directly */
  height: 60px;
  width: 300px;

  color: whitesmoke; /* Override default link color */
  text-decoration: none; /* Remove underline from links */
  display: flex;
  align-items: center;
justify-content: center;
flex-shrink: 0;
font-family: 'Russo One', sans-serif;

font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.SidebarList .row:hover {
  background-color: #0089bb;
  cursor: pointer;
}

.SidebarList .row a.active {
  background-color: #0089bb;

}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
padding: 0 30px;
}

.row #title {
  flex: 70%;
}

.content {
  flex-grow: 1; /* takes remaining space */
  height: 100%; /* adjust to full height of parent */
  margin-left: 300px; /* Adjust margin to account for sidebar width */
}

